{% extends "base.html" %}

{% block title %}Group Tinder{% endblock %}

{% block content %}
<p>What is this? A way to find people you'd be willing to meet and hang with as a group. Why does it look so janky? Because it's a prototype. I purposefully spent 0 time worrying about how it looks. I want to see if it's a good idea and can help you meet and connect with new people.</p>

<p>How's it work? Flip through a stack of suggested people. Click yes or no if you'd meet this person in a group setting. When 3 or more people click yes for eachother, a group is made. Then you can chat with this group and figure out if you all want to meet up or not.</p>

<p><a href="/accounts/register">Register</a> to get started.</p>
{% endblock %}